# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme
ELASTIC_HOSTS=https://es01:9200

# Version of Elastic products
STACK_VERSION=8.15.1

FILEBEAT_TOTEMS_MICROSERVICES_PORT=5020
FILEBEAT_TOTEMS_WINDOWS_PORT=5021

# Increase or decrease based on the available host memory (in bytes)
LS_MEM_LIMIT=1073741824
